<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md text-center">
                <a class="navbar-brand" href="index.html"><img
                        src="{{url_for('static', filename='assets/dist/images/logo-white.png')}}" /></a>
                <p class="text-muted">Designed by Tut 4 group 15<br />&copy; 2020</p>
                <small class="d-block mb-3 text-muted"></small>
            </div>
        </div>
    </div>
</footer>