<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNav"
            aria-controls="siteNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-column" id="siteNav">

            <!---top nav bar-->
            <div class="navbar-nav mb-lg-0 container" id="topNav">
                <a class="navbar-brand" href="/"><img
                        src="{{url_for('static', filename='assets/dist/images/logo.png')}}" /></a>
                <div class="search-box">
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <a class="item-right" href="/cart"><img
                        src="{{url_for('static', filename='assets/dist/images/cart.png')}}" /></a>
                <a class="item-right" href="/login"><img
                        src="{{url_for('static', filename='assets/dist/images/account.png')}}" /></a>
                <p>{{user}}</p>
            </div>

            
            <!---category nav bar-->
            <ul class="navbar-nav mr-auto" id="catNav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="livingRoom" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Living Room</a>
                    <div class="dropdown-menu" aria-labelledby="livingRoom">
                        <a class="dropdown-item" href="/categories/sofa">Sofa</a>
                        <a class="dropdown-item" href="/categories/carpetsRugs">Carpets & Rugs</a>
                        <a class="dropdown-item" href="/categories/coffeeTable">Coffee Table</a>
                        <a class="dropdown-item" href="/categories/tvConsoles">TV Consoles</a>
                        <a class="dropdown-item" href="/categories/armChairs">Arm Chairs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="bedroom" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Bedroom</a>
                    <div class="dropdown-menu" aria-labelledby="bedroom">
                        <a class="dropdown-item" href="/categories/bedsets">Bedsets</a>
                        <a class="dropdown-item" href="/categories/nightStands">Night Stands</a>
                        <a class="dropdown-item" href="/categories/bedFrames">Bed Frames</a>
                        <a class="dropdown-item" href="//categories/mattresses">Mattresses</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="bathroom" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Bathroom</a>
                    <div class="dropdown-menu" aria-labelledby="bathroom">
                        <a class="dropdown-item" href="/categories/bathTowels">Bath Towels</a>
                        <a class="dropdown-item" href="/categories/rugs">Rugs</a>
                        <a class="dropdown-item" href="/categories/accessories">Accessories</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="diningRoom" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dining Room</a>
                    <div class="dropdown-menu" aria-labelledby="Dining">
                        <a class="dropdown-item" href="/categories/diningTables">Dining Tables</a>
                        <a class="dropdown-item" href="/categories/chairs">Chairs</a>
                        <a class="dropdown-item" href="/categories/plates">Plates</a>
                        <a class="dropdown-item" href="/categories/wineGlasses">Wine Glasses</a>
                        <a class="dropdown-item" href="/categories/candles">Candles</a>
                        <a class="dropdown-item" href="/categories/cutlery">Cutlery</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="homeDecor" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Home Décor</a>
                    <div class="dropdown-menu" aria-labelledby="homeDecor">
                        <a class="dropdown-item" href="/categories/blindsCurtains">Blinds & Curtains</a>
                        <a class="dropdown-item" href="/categories/lightsLamps">Lights & Lamps</a>
                        <a class="dropdown-item" href="/categories/wallArts">Wall Arts</a>
                        <a class="dropdown-item" href="/categories/mirrors">Mirrors</a>
                        <a class="dropdown-item" href="/categories/cushionThrows">Cushions & Throws</a>
                        <a class="dropdown-item" href="/categories/scentProducts">Scent Products</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>