{% extends 'layout.html' %}

{% block body %}
    <style>
        .list-group{
            display: flex;
            flex-direction: row;
            text-align: center;
        }
        .list-group-item{
            flex: 1 1 33%;
        }
        .wrapper{
            width:100%;
        }
        .row{
            display: flex;
            flex-direction: column;
        }
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }
        input.prod-checkbox{
            width: 20px;
            height: 20px;
        }
    </style>

    <div class="ui-container">
        <h1>Products</h1>
        <form class="order-form" action="/order" method="POST" autocomplete="off">
            <ul class="list-group" id="fmcg-product-group">
                {% for fmcg_product in fmcg_products %}
                    <li class="list-group-item" id="fmcg-product">
                        <img src="{{fmcg_product.image}}" style="margin:5px;width:150px;height:150px;">
                        <h5>{{fmcg_product.name}}</h5><br>
                        <p>{{fmcg_product.description}}</p>
                        <p style="font-weight:bold;">Add to Cart: &nbsp;</p>
                        <input class="prod-checkbox" type="checkbox" name="checkbox" value="{{fmcg_product.id}}" onclick="boxChecked()">     
                    </li>
                {% endfor %}
            </ul><br>
            <div class="row">
                <div class="column">
                    <p style="font-weight:bold;">Name: &nbsp;</p>        
                    <textarea name="cust-name" onkeyup="valid(this)" rows="2" cols="50" required></textarea> 
                </div>
                <div class="column">
                    <p style="font-weight:bold;">Enter your personalized message: &nbsp;</p>
                    <textarea name="message" onkeyup="valid(this)" rows="3" cols="50" maxlength="150"></textarea>
                </div>
            </div><br>
            <div>
                <input type="submit" id="submit_order" class="btn btn-primary" value="Checkout" disabled>
            </div>
        </form>
    </div>

    <script>
        orderBtn = document.getElementById('submit_order');
        orderBtn.addEventListener('click', function(e){
            checked = document.querySelectorAll('input[name="checkbox"]:checked').length;
            if ((checked == 0) || (checked == 1)){
                e.preventDefault();
                alert("At least two items need to be selected.");  
            }
        });

        function boxChecked(){
            numberChecked = document.querySelectorAll('input[name="checkbox"]:checked').length;
            if (numberChecked == 2){
                notChecked = document.querySelectorAll('input[name="checkbox"]:not(:checked)');
                for (var i=0; i<notChecked.length; i++){
                    notChecked[i].disabled = true;
                }
                orderBtn.disabled = false;
            }
            else{
                checkbox = document.getElementsByName('checkbox');
                console.log(checkbox);
                for(var i=0; i<checkbox.length; i++){
                    checkbox[i].disabled = false;
                }
                orderBtn.disabled = true;
            }
        }

        function valid(f){
            f.value = f.value.replace(/[^\w\s.,*'~:?!#&$]/g, '');
        } 
    </script>
{% endblock %}