{% extends 'layout.html' %}

{% block body %}

<title>DecorIt - Account</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--- account page-->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My Account</h1>
    </div>
</section>
<div class="container">

<div class="row">
<div class="col-3">
	<div class="card bg-light mb-3">					
			<ul class="list-group account-menu category_block">
				<li class="list-group-item is-active">My Profile</li>
				<li class="list-group-item">Change Password</li>
				<li class="list-group-item">My Orders</li>
				<li class="list-group-item">My Bookmarks</li>
				<li class="list-group-item">Log Out</li>
			</ul>
		</div>
	</div>
<div class="col-9">
	<div class="row">
		<div class="col-12"><h1 class="h2 selected_item">My Profile</h1></div>
	</div>
	<!-- edit profile-->
	<div class="item-div my-profile">
	<form id="form-edit-profile" class="form-account" action="" method="POST">
		<div class="row">
			<div class="col">
				<label for="inputFName" >First Name <span style="color:red">*</span></label>
				<input type="text" id="inputFName" class="form-control" placeholder='{{user}}' disabled>
			</div>
			<div class="col">
				<label for="inputLName" >Last Name <span style="color:red">*</span></label>
				<input type="text" id="inputName" class="form-control" placeholder='{{lastname}}' disabled>
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col">
				<label for="inputEmail" >Email address <span style="color:red">*</span></label>
				<input type="email" id="inputEmail" class="form-control" placeholder='{{mail}}' disabled>
			</div>
			<div class="col">
				<label for="inputPhone" >Phone Number <span style="color:red">*</span></label>
				<input type="number" name="inputPhone" class="form-control" placeholder="98765432" required value={{request.form.inputPhone}}>
			</div>
		  </div>	  
		  
		  <div class="row">
			<div class="col">
				<label for="inputAddress" >Address <span style="color:red">*</span></label>
				<textarea rows="2" name="inputAddress" class="form-control" placeholder="e.g. BLK 01, #01-01, Clementi Road..." required value={{request.form.inputAddress}}></textarea>
			</div>
			<div class="col">
				<label for="inputPostal" >Postal Code <span style="color:red">*</span></label>
				<input type="number" name="inputPostal" class="form-control" placeholder="123456" required value={{request.form.inputPostal}}>
			</div>
		  </div> 
		  
		  <div class="row text-center">
			<div class="col">
				<button class="btn btn-lg btn-block mybtn" type="submit" name="update_detail" value="updateProfile">Update Profile</button>
			</div>
		  </div>   
	</form>
</div>
<!--end of edit profile-->


<!--change password-->
<div class="item-div change-password">
	<form id="form-change-password" class="form-account" action="" method="POST">
		  <div class="row">
			<div class="col">
				<label for="inputCurrentPassword" >Current Password <span style="color:red">*</span></label>
				<input type="password" name="inputCurrentPassword" class="form-control" placeholder="Password" required value={{request.form.inputCurrentPassword}}>
			</div>
			<div class="col">			
			</div>
		  </div> 
		  <div class="row">
			<div class="col">
				<label for="inputNewPassword" >New Password <span style="color:red">*</span></label>
				<input type="password" name="inputNewPassword" class="form-control" placeholder="Password" required value={{request.form.inputNewPassword}}>
			</div>
			<div class="col">	
				<label for="inputConfirmPassword" >Confirm Password <span style="color:red">*</span></label>
				<input type="password" name="inputConfirmPassword" class="form-control" placeholder="Password" required value={{request.form.inputConfirmPassword}}>			
			</div>
		  </div> 
		  <div class="row text-center">
			<div class="col">
				<button class="btn btn-lg btn-block mybtn" type="submit" name="update_detail" value="updatePwd">Change Password</button>
			</div>
		  </div>   
	</form>
</div>
<!--end of change password-->


<!--my orders-->

<div class="item-div my-orders">


<!--Accordion wrapper-->
<div class="my-orders accordion md-accordion" id="orderAccordion" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  {%for orders in orderList%}
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="orderNo{{orders[0]}}">
      <a class="collapsed" data-toggle="collapse" data-parent="#orderAccordion" href="#collapse{{orders[0]}}"
        aria-expanded="true" aria-controls="collapse{{orders[0]}}">
        <h5 class="mb-0">
          # <span class="order-number">{{orders[0]}}</span> - <span class="text-muted order-total">S$ {{orders[8]}}</span> <span class="order-status" style="float:right;">{{orders[7]}}</span><i style="clear:both;float:right;" class="fa fa-angle-down"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapse{{orders[0]}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
      data-parent="#orderAccordion">
      <div class="card-body"> 
	  
		<div class="col-12">
		  <h4>Order Summary</h4>
		  <div class="order-summary">			
			  <div class="row">
				<div class="col">
					<span><b>Order ID:</b></span>
				</div>
				<div class="col">	
					# <span id="orderID">{{orders[0]}}</span>
				</div>
				<div class="col">
					<span><b>Order Status:</b></span>
				</div>
				<div class="col">	
					<span id="orderStatus">{{orders[7]}}</span>
				</div>
			  </div> 			
			  <div class="row">
				<div class="col">
					<span><b>No. of Items:</b></span>
				</div>
				<div class="col">	
					<span id="orderQty">{{orders[11]}}</span>
				</div>
				<div class="col">
					<span><b>Order Total:</b></span>
				</div>
				<div class="col">	
					S$ <span id="orderTotal">{{orders[8]}}</span>
				</div>
			  </div> 			
			  <div class="row">
				<div class="col-3">
					<span><b>Date Ordered:</b></span>
				</div>
				<div class="col-9">	
					<span id="orderDate">{{orders[2]}}</span>
				</div>
			  </div> 			
			  <div class="row">
				<div class="col-3">
					<span><b>Date Delivered:</b></span>
				</div>
				<div class="col-9">	
					<span id="deliveryDate">{{orders[9]}}</span>
				</div>
			  </div> 
			  <div class="row">
				<div class="col-3">
					<span><b>Remark:</b></span>
				</div>
				<div class="col-9">	
					<span id="orderRemark">{{orders[10]}}</span>
				</div>
			  </div>		
		  
		  </div>
		</div>
		
		<nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a onclick="getOrderDetail(id);" class="nav-item nav-link" id="nav-order-{{orders[0]}}-tab" data-toggle="tab" href="#nav-order-{{orders[0]}}" role="tab" aria-controls="nav-order-{{orders[0]}}" aria-selected="false">Order Details</a>
			<a class="nav-item nav-link active" id="nav-shipping-{{orders[0]}}-tab" data-toggle="tab" href="#nav-shipping-{{orders[0]}}" role="tab" aria-controls="nav-shipping-{{orders[0]}}" aria-selected="true">Shipping &amp; Payment</a>
		  </div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade" id="nav-order-{{orders[0]}}" role="tabpanel" aria-labelledby="nav-order-{{orders[0]}}-tab">
			<div class="row products" id="rowOrderDetailProduct_{{orders[0]}}">
			</div>
		  </div>
		  <div class="tab-pane fade show active" id="nav-shipping-{{orders[0]}}" role="tabpanel" aria-labelledby="nav-shipping-{{orders[0]}}-tab">
			<div class="col-12 tab">
				<h5>Shipping Details</h5>
			  <div class="row">
				<div class="col-3">
					<span><b>Recipient Name:</b></span>
				</div>
				<div class="col-9">	
					<span id="reciName">{{orders[3]}}</span>
				</div>
			  </div>		
			  <div class="row">
				<div class="col-3">
					<span><b>Contact Number:</b></span>
				</div>
				<div class="col-9">	
					<span id="reciPhone">{{orders[6]}}</span>
				</div>
			  </div> 				
			  <div class="row">
				<div class="col-3">
					<span><b>Delivery Address:</b></span>
				</div>
				<div class="col-9">	
					<span id="reciAddress">{{orders[4]}}</span>
				</div>
			  </div>		
			  <div class="row">
				<div class="col-3">
					<span><b>Postal Code:</b></span>
				</div>
				<div class="col-9">	
					<span id="reciPostal">{{orders[5]}}</span>
				</div>
			  </div> 
				<h5>Payment Details</h5>
			  <div class="row">
				<div class="col-3">
					<span><b>Payment Method:</b></span>
				</div>
				<div class="col-9">	
					<span id="paymentMethod">{{orders[14]}}</span>
				</div>
			  </div>		
			  <div class="row">
				<div class="col-3">
					<span><b>Card Number:</b></span>
				</div>
				<div class="col-9">	
					<span id="cardNo">xxxx xxxx xxxx {{orders[13]}}</span>
				</div>
			  </div> 			
			  <div class="row">
				<div class="col-3">
					<span><b>Cardholder Name:</b></span>
				</div>
				<div class="col-9">	
					<span id="cardName">{{orders[11]}}</span>
				</div>
			  </div>			
			  <div class="row">
				<div class="col-3">
					<span><b>Expiry Date:</b></span>
				</div>
				<div class="col-9">	
					<span id="cardExpiry">{{orders[15]}}</span>
				</div>
			  </div> 		
			</div>
		  </div>
		  
		</div>		
      </div>
    </div>

  </div>
  {%endfor%}
  <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->


</div>
        
<!--end of my orders-->

<!--my bookmarks-->
<div class="item-div my-bookmarks">
<div class="row products" id="rowProduct">
</div>	  
</div>
<!--end of my bookmarks-->

<!--Log out -->
<div class="item-div log-out">
	<h5>Are you sure you want to log out?</h5>
	<br />
	<a href="/logout"><button class="btn btn-lg mybtn">Log Out</button></a>
</div>
<!--Log out -->

</div>
</div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='/assets/dist/js/3.4.1_jquery.min.js') }}"></script>
<script src="{{url_for('static', filename='assets/dist/custom/slugify.js')}}"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{{url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>
<script>
var rowProduct = document.getElementById("rowProduct");
$( document ).ready(function() {
	$("#rowProduct").empty();
	$('.item-div').css("display", "none");
	$('.my-profile').show();
});
		
$( ".account-menu .list-group-item" ).click(function(){
	$(this).siblings().removeClass("is-active");
	$(this).toggleClass('is-active');
	$(".selected_item").text(jQuery(this).text());
	var selectedItem = slugify($(this).text());
	showItem(selectedItem);
	$.ajax({
    data : {'userIdentifier':'{{mail}}'},
    type : 'POST',
    url : '/displayBookmarkOfUser'
	})
  	.done(function(data){
		if(data.success){
			$("#rowProduct").empty();
			for(var i=0; i<data.itemList.length; i++){
				$("#rowProduct").append(
				'<div class="col-sm-12 col-md-6 col-lg-4 card product-card"><a href="/products/'+
				data.itemList[i][0]+
				'?'+
				data.itemList[i][3]+
				'"><img class="card-img-top" src="'+
				data.itemList[i][2]+
				'" alt="leather-sofa"></a><div class="card-body"><h5 class="product-name"><a href="/products/'+
				data.itemList[i][0]+
				'?'+
				data.itemList[i][3]+
				'">'+
				data.itemList[i][0]+
				'</a></h5><div class="row"><div class="col"><p>Item price:<br/> S$ <span class="item-price">'+
				data.itemList[i][1]+
				'</span> <span class="text-muted">(GST Incl.)</span></p></div><div class="col-auto">'+
				//'<button class="btn-lg btn-block btn-primary rounded-circle border-0 bg-light text-danger" value='+
				//data.itemList[i][5]+
				//' onclick="dislike(value);">♥</button>'+
				'</div></div></div></div>');
			}
		}
		else{
			alert(data.message);
		}
	});
});
	function showItem(selectedItem){
		//$('.product-card').hide();
		$('.item-div').css("display", "none");
		$('.'+selectedItem).show();
		
	}
	function getOrderDetail(value){
		var orderID = value.replace("nav-order-", '').replace("-tab",'');
		console.log(orderID);
		$.ajax({
    	data : {'orderID':orderID, 'userIdentifier':'{{mail}}'},
    	type : 'POST',
    	url : '/getOrderDetailOnOrderID'
		})
  		.done(function(data){
			if(data.success){
				$("#rowOrderDetailProduct_"+orderID).empty();
				for(var i=0; i<data.detailList.length; i++){
					if(data.detailList[i][3].length < 1){
						$("#rowOrderDetailProduct_"+orderID).append(
						'<div class="col-sm-12 col-md-6 col-lg-4 card product-card">'+
						'<img class="card-img-top" src="'+
						data.detailList[i][5]+
						'"></a><div class="card-body"><h5 class="product-name"></a>'+
						data.detailList[i][0]+
						'</a></h5><div class="row"><div class="col"><p>Item price:<br/> S$ <span class="item-price">'+
						data.detailList[i][1]+
						'</span> <span class="text-muted">(GST Incl.)</span></p><p>Quantity:<br/> <span class="item-qty">'+
						'</span></p><h5>My Review: </h5>'+
						'<form class="form-review" action="" method="POST"><textarea rows="2" class="form-control font-weight-light" name="inputReview" placeholder="Write your Review..." value={{request.form.inputReview}}></textarea><button class="btn btn-lg mybtn" type="submit" name="update_detail" value="updateReview">Submit</button></form>'+  
						'</div></div></div></div>'
						);
					}
					else{
						if(data.detailList[i][4] == "No Reply Yet!"){
							$("#rowOrderDetailProduct_"+orderID).append(
							'<div class="col-sm-12 col-md-6 col-lg-4 card product-card">'+
							'<img class="card-img-top" src="'+
							data.detailList[i][5]+
							'"></a><div class="card-body"><h5 class="product-name"></a>'+
							data.detailList[i][0]+
							'</a></h5><div class="row"><div class="col"><p>Item price:<br/> S$ <span class="item-price">'+
							data.detailList[i][1]+
							'</span> <span class="text-muted">(GST Incl.)</span></p><p>Quantity:<br/> <span class="item-qty">'+
							data.detailList[i][2]+
							'</span></p><h5>My Review: </h5>'+
							'<span class="text-muted small">'+
							data.detailList[i][6]+
							'</span><p>'+
							data.detailList[i][3]+
							'</p></div></div></div></div>'
							);
						}
						else{
							$("#rowOrderDetailProduct_"+orderID).append(
							'<div class="col-sm-12 col-md-6 col-lg-4 card product-card">'+
							'<img class="card-img-top" src="'+
							data.detailList[i][5]+
							'"></a><div class="card-body"><h5 class="product-name"></a>'+
							data.detailList[i][0]+
							'</a></h5><div class="row"><div class="col"><p>Item price:<br/> S$ <span class="item-price">'+
							data.detailList[i][1]+
							'</span> <span class="text-muted">(GST Incl.)</span></p><p>Quantity:<br/> <span class="item-qty">'+
							data.detailList[i][2]+
							'</span></p><h5>My Review: </h5>'+
							'<span class="text-muted small">'+
							data.detailList[i][6]+
							'</span><p>'+
							data.detailList[i][3]+
							'</p><h5>Reply by Seller:</h5>'+
							'<p>'+
							data.detailList[i][4]+
							'</p></div></div></div></div>'
							);
						}

					}
				}
			}
			else{
				alert(data.message);
			}
		});
	}

</script>

{% endblock %}