{% extends 'layout.html' %}

{% block body %}

<title>DecorIt - Cart</title>

<!-- Custom styles for this template -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
<!--Section: Block Content-->

<section class="shopping-cart-container">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-8">
	
      <!-- Card -->
      <div class="card wish-list mb-3">
        <div class="card-body">

          <h5 class="mb-4">My Shopping Cart (<span>{{noOfItems}}</span> items)</h5>

         {%for item in itemList%}
          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="mb-3 mb-md-0">                
                <img class="img-fluid w-100" src={{item[4]}}></a>
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h5>{{item[0]}}</h5>
                    <p class="mb-3 text-muted text-uppercase small">{{item[2]}}</p>
                  </div>
                  <div>
                    <div class="def-number-input number-input safari_only mb-0 w-100">
                      {%for p in cart%}
                        {%for o in p%}
                          {%if (o == item[5]|string)%}
                            <input class="quantity" min="1" name="quantity" value={{p[o]}} type="number" Readonly>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>                    
					<i class="fa fa-trash" ></i> <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3">Remove item </a>
                  </div>
                  <p class="mb-0"><span class="price"><strong>{{item[1]|float * p[o]|float}}</strong></span></p>
                  {%endif%}
                  {%endfor%}
                  {%endfor%}
                </div>
              </div>
            </div>
          </div>
          <hr class="mb-4">
          {%endfor%}          
        </div>
      </div>
      <!-- Card -->


    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <h5 class="mb-3">Cart Summary</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Amount
              <span id="totalPrice"></span>
            </li>
            <!--<li class="list-group-item d-flex justify-content-between align-items-center px-0">
              GST
              <span>S$ 0.00</span>
            </li>-->
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
              Shipping
              <span>S$ 10.00</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total Amount</strong>
                <strong>
                  <p class="mb-0">(including GST)</p>
                </strong>
              </div>
              <span><strong id="afterGST"></strong></span>
            </li>
          </ul>

          <a href="/checkout"><button type="button" class="btn btn-lg btn-block mybtn">CHECKOUT >>></button></a>
		  
			<br/>
		  <h5 class="mb-4">We accept</h5>

		  <img class="mr-2" width="45px"
			src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
			alt="Visa">
		  <img class="mr-2" width="45px"
			src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
			alt="American Express">
		  <img class="mr-2" width="45px"
			src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
			alt="Mastercard">
			  
		  
		  
        </div>
      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Block Content-->

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{{url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>
	  <script>
		var totalPrice = document.getElementById("totalPrice");
    var add = 0;
    var afterGST = document.getElementById("afterGST");
    $(document).ready(function () {
			document.querySelectorAll('span').forEach(s=>{
				if(s.className == 'price'){
					add += parseFloat(s.innerText);
				}
			})
      totalPrice.innerText = add;
      afterGST.innerText = parseFloat(totalPrice.innerText)+10;
    });
	  
	  </script>
	  
{% endblock %}