{% extends 'layout.html' %}

{% block body %}

<title>DecorIt - Category</title>
<!--
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Living Room</h1>
        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. </p>
    </div>
</section>
-->
<div class="row justify-content-md-center">
    <div class="col-10">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/categories">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sub-category</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-10 row">
        <div class="col-12 col-sm-3">
            <!--<div class="card bg-light mb-3">
                
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Living Room</a></li>
                    <li class="list-group-item"><a href="category.html">Dapibus ac facilisis in</a></li>
                    <li class="list-group-item"><a href="category.html">Morbi leo risus</a></li>
                    <li class="list-group-item"><a href="category.html">Porta ac consectetur ac</a></li>
                    <li class="list-group-item"><a href="category.html">Vestibulum at eros</a></li>
                </ul>
            </div>-->
			<div class="card bg-light mb-3">
			<div class="card-header text-white text-uppercase bg-dark"><b>Categories</b></div>
			<!--Accordion wrapper-->
				<div class="accordion md-accordion" id="accordionCat" role="tablist" aria-multiselectable="true">
				  <!-- Accordion card -->
				  <div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingLR">
					  <div class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseLR"
						aria-expanded="true" aria-controls="collapseLR">
						  <a>Living Room</a> 
					  </div>
					</div>

					<!-- Card body -->
					<div id="collapseLR" class="collapse" role="tabpanel" aria-labelledby="headingLR"
					  data-parent="#accordionCat">
						<ul class="list-group category_block">
							<li class="list-group-item sub-cat">Sofa</li>
							<li class="list-group-item sub-cat">Carpets & Rugs</li>
							<li class="list-group-item sub-cat">Coffee Table</li>
							<li class="list-group-item sub-cat">TV Consoles</li>
							<li class="list-group-item sub-cat">Arm Chairs</li>
						</ul>
					</div>

				  </div>
				  <div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingBR">
					  <div class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseBR"
						aria-expanded="false" aria-controls="collapseBR">
						  <a>Bedroom</a> 
					  </div>
					</div>

					<!-- Card body -->
					<div id="collapseBR" class="collapse" role="tabpanel" aria-labelledby="headingBR"
					  data-parent="#accordionCat">
						<ul class="list-group category_block">
							<li class="list-group-item sub-cat">Bedsets</li>
							<li class="list-group-item sub-cat">Night Stands</li>
							<li class="list-group-item sub-cat">Bed Frames</li>
							<li class="list-group-item sub-cat">Mattresses</li>
						</ul>
					</div>

				  </div>
				  <div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingBath">
					  <div class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseBath"
						aria-expanded="false" aria-controls="collapseBath">
						  <a>Bathroom</a> 
					  </div>
					</div>

					<!-- Card body -->
					<div id="collapseBath" class="collapse" role="tabpanel" aria-labelledby="headingBath"
					  data-parent="#accordionCat">
						<ul class="list-group category_block">
							<li class="list-group-item sub-cat">Bath Towels</li>
							<li class="list-group-item sub-cat">Rugs</li>
							<li class="list-group-item sub-cat">Accessories</li>
						</ul>
					</div>

				  </div>
				  
				  
				  <div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingDR">
					  <div class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseDR"
						aria-expanded="false" aria-controls="collapseDR">
						  <a>Dining Room</a> 
					  </div>
					</div>

					<!-- Card body -->
					<div id="collapseDR" class="collapse" role="tabpanel" aria-labelledby="headingDR"
					  data-parent="#accordionCat">
						<ul class="list-group category_block">
							<li class="list-group-item sub-cat">Dining Table</li>
							<li class="list-group-item sub-cat">Chairs</li>
							<li class="list-group-item sub-cat">Plates</li>
							<li class="list-group-item sub-cat">Wine Glasses</li>
							<li class="list-group-item sub-cat">Candles</li>
							<li class="list-group-item sub-cat">Cutlery</li>
						</ul>
					</div>

				  </div>
				  
				  <div class="card">
					<!-- Card header -->
					<div class="card-header" role="tab" id="headingDecor">
					  <div class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseDecor"
						aria-expanded="false" aria-controls="collapseDecor">
						  <a>Décor</a> 
					  </div>
					</div>

					<!-- Card body -->
					<div id="collapseDecor" class="collapse" role="tabpanel" aria-labelledby="headingDecor"
					  data-parent="#accordionCat">
						<ul class="list-group category_block">
							<li class="list-group-item sub-cat">Blinds & Curtains</li>
							<li class="list-group-item sub-cat">Lights & Lamps</li>
							<li class="list-group-item sub-cat">Wall Arts</li>
							<li class="list-group-item sub-cat">Mirrors</li>
							<li class="list-group-item sub-cat">Cushions & Throws</li>
							<li class="list-group-item sub-cat">Scent Products</li>
						</ul>
					</div>

				  </div>
				  <!-- Accordion card -->
				</div>
				<!-- Accordion wrapper -->
							
			
			</div>
        </div>
        <div class="col">
            <div class="row">
				<div class="col-12"><h1 class="selected_item"></h1></div>
				<div class="col-12"> 
					<label for="sortby" id="labelSoryBy">Sort by:</label>
					<select name="sortby" id="sortby">
					  <option value="Default" selected disabled>Sort</option>
					  <option value="Newest">Newest</option>
					  <option value="price_low">Price: Low to High</option>
					  <option value="price_high">Price: High to Low</option>
					</select> 
				</div>
			</div>
            <div class="row products" id="rowProduct">
            </div>
        </div>

    </div>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='/assets/dist/js/3.4.1_jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/assets/dist/custom/slugify.js') }}"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{{url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>
<script>
	var rowProduct = document.getElementById("rowProduct");
	var sortby = document.getElementById("sortby");
	var labelSoryBy = document.getElementById("labelSoryBy");
	$(document).ready(function(){
		var subCatChosen = location.toString().split('/');
		console.log(subCatChosen);
		var searchListTemp = '{{searchlist}}'.split('), (');
		searchListTemp.toString().replace('[', '');	
		searchListTemp.toString().replace(']', '');
		searchListTemp.toString().split(',');
		console.log(searchListTemp);
		var preChoose = subCatChosen[5];
		if(subCatChosen[4] == 'search'){
			console.log("search");
			$("#rowProduct").empty();
			$.ajax({
    		data : {'searchBox': subCatChosen[5]},
    		type : 'POST',
    		url : '/search'
			})
  			.done(function(data){
				if(data.status = 'success'){
					sortby.hidden=true;
					labelSoryBy.hidden = true;
					for(var i=0; i<data.itemList.length; i++){
						$("#rowProduct").append('<div class="col-12 col-md-6 col-lg-4">'+
					  '<div class="card product-card" category="sofa">'+
					  '<a href="/products/'+
					  data.itemList[i][0]+
					  '?'+
					  data.itemList[i][3]+
					  '">'+
					  '<img class="card-img-top" src="'+
					  data.itemList[i][2]+
					  '" alt="leather-sofa"></a>'+
        	          '<div class="card-body">'+
					  '<h5 class="product-name"><a href="/products/'+
					  data.itemList[i][0]+
					  '?'+
					  data.itemList[i][3]+
					  '">'+
					  data.itemList[i][0]+
					  '</a></h5>'+
        	          '<div class="row"><div class="col">'+
					  '<p>S$ <span class="product-price">'+
					  data.itemList[i][1]+
					  '</span></p>'+
					  '<p class="text-muted">(GST Incl.)</p></div></div></div></div></div>');
					}
				}
				else{
					alert(data.message);
				}
			});
		}
		else if(preChoose != 'all'){
			sortby.hidden=false;
			labelSoryBy.hidden = false;
			if(preChoose.search('_and_') > 0){
				preChoose = preChoose.replace('_and_', ' & ');
			}
			else if(preChoose.search('_') > 0){
				preChoose = preChoose.replace('_', ' ')
			}
			document.querySelectorAll('li').forEach(s=>{
				if(s.innerText == preChoose){
					s.parentElement.parentElement.classList.add('show')
					s.click();
				}
			})
		}
		else if(preChoose == 'all'){
			sortby.hidden=false;
			labelSoryBy.hidden = false;
			$.ajax({
    		data : {'categoryMainTitle': subCatChosen[4].replace('_', ' ')},
    		type : 'POST',
    		url : '/getProductByMainCategory'
			})
  			.done(function(data){
				if(data.status = 'success'){
					for(var i=0; i<data.itemList.length; i++){
						$("#rowProduct").append('<div class="col-12 col-md-6 col-lg-4">'+
					  '<div class="card product-card" category="sofa">'+
					  '<a href="/products/'+
					  data.itemList[i][0]+
					  '?'+
					  data.itemList[i][3]+
					  '">'+
					  '<img class="card-img-top" src="'+
					  data.itemList[i][2]+
					  '" alt="leather-sofa"></a>'+
        	          '<div class="card-body">'+
					  '<h5 class="product-name"><a href="/products/'+
					  data.itemList[i][0]+
					  '?'+
					  data.itemList[i][3]+
					  '">'+
					  data.itemList[i][0]+
					  '</a></h5>'+
        	          '<div class="row"><div class="col">'+
					  '<p>S$ <span class="product-price">'+
					  data.itemList[i][1]+
					  '</span></p>'+
					  '<p class="text-muted">(GST Incl.)</p></div></div></div></div></div>');
					}
				}
				else{
					alert(data.message);
				}
			});
		}
		else{
			sortby.hidden=false;
			labelSoryBy.hidden = false;
			$.ajax({
    		data : {},
    		type : 'POST',
    		url : '/getAllProducts'
			})
  			.done(function(data){
				if(data.status = 'success'){
					for(var i=0; i<data.prodList.length; i++){
						$("#rowProduct").append('<div class="col-12 col-md-6 col-lg-4">'+
					  '<div class="card product-card" category="sofa">'+
					  '<a href="/products/'+
					  data.prodList[i][0]+
					  '?'+
					  data.prodList[i][3]+
					  '">'+
					  '<img class="card-img-top" src="'+
					  data.prodList[i][2]+
					  '" alt="leather-sofa"></a>'+
        	          '<div class="card-body">'+
						'<h5 class="product-name"><a href="/products/'+
					  data.prodList[i][0]+
					  '?'+
					  data.prodList[i][3]+
					  '">'+
					  data.prodList[i][0]+
					  '</a></h5>'+
        	          '<div class="row"><div class="col">'+
					  '<p>S$ <span class="product-price">'+
					  data.prodList[i][1]+
					  '</span></p>'+
					  '<p class="text-muted">(GST Incl.)</p></div></div></div></div></div>');
					}
				}
				else{
					alert(data.message);
				}
			});
		}
	});
	$( ".sub-cat" ).click(function(){
		sortby.hidden=false;
		labelSoryBy.hidden = false;
		$(this).siblings().removeClass("is-active");
		$(this).toggleClass('is-active');
		$("#rowProduct").empty();
		$.ajax({
    		data : {'categorySubTitle':slugify($(this).text())},
    		type : 'POST',
    		url : '/renderCategories'
		})
  		.done(function(data){
			if(data.success){
				for(var i=0; i<data.itemList.length; i++){
					$("#rowProduct").append('<div class="col-12 col-md-6 col-lg-4">'+
				  '<div class="card product-card" category="sofa">'+
				  '<a href="/products/'+
				  data.itemList[i][0]+
				  '?'+
				  data.itemList[i][3]+
				  '">'+
				  '<img class="card-img-top" src="'+
				  data.itemList[i][2]+
				  '" alt="leather-sofa"></a>'+
                  '<div class="card-body">'+
					'<h5 class="product-name"><a href="/products/'+
					  data.itemList[i][0]+
					  '?'+
					  data.itemList[i][3]+
					  '">'+
					  data.itemList[i][0]+
				  '</a></h5>'+
                  '<div class="row"><div class="col">'+
				  '<p>S$ <span class="product-price">'+
				  data.itemList[i][1]+
				  '</span></p>'+
				  '<p class="text-muted">(GST Incl.)</p></div></div></div></div></div>');
				}
			}
			else{
				alert(data.message);
			}
		});
		$(".selected_item").text(jQuery(this).text());
		//var selectedCat = slugify($(this).text());
		//showCat(selectedCat);			
	});
	function showCat(selectedCat){
		//$('.product-card').hide();
		//$('[category='+selectedCat+']').show();
	}

	sortby.onchange = function(){
   		$.ajax({
			data : {'sort' : sortby.value, 'categorySubTitle': slugify($(".selected_item").text())},
        	type : 'POST',
			url : '/sortByInput'
		})
		.done(function(data){
			if (data.status = 'success'){
				$("#rowProduct").empty();
				for(var i=0; i<data.sortedList.length; i++){
				  $("#rowProduct").append('<div class="col-12 col-md-6 col-lg-4">'+
				  '<div class="card product-card" category="sofa">'+
				  '<a href="/products/'+
				  data.sortedList[i][0]+
				  '?'+
				  data.sortedList[i][3]+
				  '">'+
				  '<img class="card-img-top" src="'+
				  data.sortedList[i][2]+
				  '" alt="leather-sofa"></a>'+
                  '<div class="card-body">'+
					'<h5 class="product-name"><a href="/products/'+
					  data.sortedList[i][0]+
					  '?'+
					  data.sortedList[i][3]+
					  '">'+
					  data.sortedList[i][0]+
				  '</a></h5>'+
                  '<div class="row"><div class="col">'+
				  '<p>S$ <span class="product-price">'+
				  data.sortedList[i][1]+
				  '</span></p>'+
				  '<p class="text-muted">(GST Incl.)</p></div></div></div></div></div>');
				}
			}
        	else{
        	    alert(data.message);
        	}
		});
	}	
</script>
{% endblock %}
