{% extends 'layout.html' %}

{% block body %}

<title>DecorIt - Checkout</title>


    <div class="container">       
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
				
				<div class="card mb-3">
					<div class="card-body">

					  <h5 class="mb-3">Cart Summary</h5>

					  <ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
						  Amount
						  <span>$25.98</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center px-0">
						  GST
						  <span>S$ 0.00</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center px-0">
						  Shipping
						  <span>S$ 0.00</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
						  <div>
							<strong>Total Amount</strong>
							<strong>
							  <p class="mb-0">(including GST)</p>
							</strong>
						  </div>
						  <span><strong>$53.98</strong></span>
						</li>
					  </ul>
					  
					</div>
				  </div>
				  
                
            </div>
			
			
			
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Shipping address</h4>
                <form class="needs-validation was-validated" novalidate="" action="" method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="reciName">Recipient name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid recipient name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="reciPhone">Recipient Phone</label>
                            <input type="text" class="form-control" id="reciPhone" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid recipient phone is required.
                            </div>
                        </div>
                    </div>
					
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="reciAddress">Recipient Address</label>
                            <textarea rows="2" class="form-control" id="reciAddress" placeholder="" value="" required=""></textarea>
                            <div class="invalid-feedback">
                                Valid recipient address is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="reciPostal">Postal Code</label>
                            <input type="text" class="form-control" id="reciPostal" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid postal code is required.
                            </div>
                        </div>
                    </div>


                    <hr class="mb-4">

                    <h4 class="mb-3">Payment</h4>

                    <div class="d-block my-3">
                        <div>
                            <input type="radio" id="visa" name="payment" value="visa" checked>
							<label for="visa"><img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa"></label>
							
                        </div>
                        <div>
                            <input type="radio" id="mastercard" name="payment" value="mastercard">
							<label for="mastercard"><img class="mr-2" width="45px" src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard"></label>
                        </div>
                        <div>
                            <input type="radio" id="cash" name="payment" value="cash">
							<label for="cash">Cash On Delivery</label>
                        </div>
                    </div>
                    <div class="row cc-div">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row cc-div">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiry</label>
                            <input type="text" class="form-control" id="cc-expiry" placeholder="" required="">
                            <div class="invalid-feedback">
                                Expiry date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <a href="/payment"><button class="btn btn-lg btn-block mybtn" type="submit">Proceed to payment</button></a>
                </form>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='assets/dist/custom/slugify.js')}}"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{{url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>
	  <script>
		
		$( document ).ready(function() {
			$('input[name="payment"]').click(function(){
				var inputValue = $(this).attr("value");
				if(inputValue!="cash"){
					$(".cc-div").show();
				}else{
					$(".cc-div").hide();
				}
			});
		});
		
	  </script>	

{% endblock %}
