{% extends 'layout.html' %}

{% block body %}

<div class="row justify-content-md-center">
<div class="container text-center site-slogan">

<form class="form-signin" action="" method="POST">
  <img class="mb-4" src="{{url_for('static', filename='assets/dist/images/logo-large.png')}}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="input_email" class="form-control" placeholder="Email address" required autofocus value={{request.form.input_email}}>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="input_pwd" class="form-control" placeholder="Password" required value={{request.form.input_pwd}}>
  <button class="btn btn-lg btn-block mybtn" type="submit">Log In</button>
  <p class="mt-3 mb-3 text-muted">Not a member? <a href="/signup">Sign Up</a></p>
</form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="{{url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>

{% endblock %}
