{% extends 'layout.html' %}

{% block body %}

<title>DecorIt - Product</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Custom styles for this template -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

    <div class="container">
        <br />
        <br />

        <div class="row mb-2 product-detail">
            <div class="col-md-6">
			<img class="card-img-top" id="prodImg" src="{{url_for('static', filename='assets/dist/images/products/bedroom/night-stands/white-night-stand.jpg')}}" alt="white-night-stand">

            </div>
            <div class="col-md-6">
                <h3 id="prodName"><b>Eleonora Mint Totem Vase</b></h3>
                <div>
                    <p class="mb-0" id="prodPrice">S$149.99</p>
                    <p class="text-muted">(GST Incl.)</p>
                </div>
                <div>
                    <span id="prodQuantity">Available Quantity:</span>
                    <div class="mt-1 mb-3">
						<div class="def-number-input number-input safari_only">
						  <i class="fa fa-minus" aria-hidden="true" onclick="this.parentNode.querySelector('input[type=number]').stepDown();"></i>
						  <input class="quantity" min="1" name="quantity" value="1" type="number">
						  <i class="fa fa-plus" aria-hidden="true" onclick="this.parentNode.querySelector('input[type=number]').stepUp();"></i>
						</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-lg btn-block mybtn addToCart">Add to cart</a>
                        </div>
                        <div class="col-auto">
                            <button class="bookmark btn btn-lg rounded-circle border-0 bg-light text-dark">♥</button>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="font-weight-bold">Product Description</p>
                    <span id="prodDescription">
                        Tiered curves articulate a tall vase, creating a playfully exaggerated take on the classic gourd vase. Talented artisans apply glaze by hand, coating the earthenware in matte mint green. Display the sculptural vase on its own, hosting one of our lifelike faux stems, or grouped with the other colorful totem vases. Our Eleonora mint totem vase is a Crate and Barrel exclusive.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='/assets/dist/js/3.4.1_jquery.min.js') }}"></script>
<script src="{{url_for('static', filename='assets/dist/custom/slugify.js')}}"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{{url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js')}}"></script>
	  <script>		
       var productID;
		$( document ).ready(function() {
            var currentBookmark;
            var currentBookmarkID;
            productID = location.toString().substring(location.toString().indexOf('?')+1,location.toString().length);
            var prodName = document.getElementById('prodName');
            var prodPrice = document.getElementById('prodPrice');
            var prodDescription = document.getElementById('prodDescription');
            var prodQuantity = document.getElementById('prodQuantity');
            var prodImg = document.getElementById('prodImg');
            $.ajax({
      			data : {'prodID':productID},
      			type : 'POST',
      			url : '/renderSingleProduct'
			})
  			.done(function(data){
				if(data.status = 'success'){
                    prodName.innerText = data.itemList[0][0];
                    prodPrice.innerText = '$'+data.itemList[0][1];
                    prodDescription.innerText = data.itemList[0][2];
                    prodQuantity.innerText = 'Available Quantity: '+data.itemList[0][3];
                    prodImg.src = data.itemList[0][4];
                    checkBookMarked(data.itemList[0][0]);
				}
				else{
					alert(data.message);
				}
			});
			$('.bookmark').click(function(){
                if($( "button.bookmark" ).hasClass("text-dark")){
                    likeOrDislike(productID, 1);
                    $( "button.bookmark" ).removeClass("text-dark");
                    $( "button.bookmark" ).addClass("text-danger");
                }
                else{
                    likeOrDislike(productID, 0);
                    $( "button.bookmark" ).removeClass("text-danger");
                    $( "button.bookmark" ).addClass("text-dark");
                }
				//$( "button.bookmark" ).toggleClass( "text-dark" );
				//$( "button.bookmark" ).toggleClass( "text-danger" );
				
			});
		});
    function likeOrDislike(productID, likeOrNo) {
        console.log(productID);
        console.log('{{mail}}');
        console.log(likeOrNo);
		$.ajax({
    	data : {'prodID':productID,'userIdentifier':'{{mail}}', 'likeOrNo': likeOrNo},
    	type : 'POST',
    	url : '/likeOrDislikeProduct'
		})
		.done(function(data){
			if(data.status == 'success'){
                console.log(data.message);
			}
			else{
                alert("Not Logged in!");
			    location.replace("http://localhost:5000/login");
			}
		});
	}
    function checkBookMarked(productName){
        $.ajax({
        data : {'userIdentifier':'{{mail}}'},
        type : 'POST',
        url : '/displayBookmarkOfUser'
	    })
  	    .done(function(data){
		if(data.success){
			for(var i=0; i<data.itemList.length; i++){
                if(data.itemList[i][0] == productName){
                    console.log(data.itemList[i][0]);
                    console.log(productName);
                    if(data.itemList[i][4] == 1){
                        currentBookmark = 1;
                        currentBookmarkID = data.itemList[i][5];
                        $( "button.bookmark" ).removeClass("text-dark");
                        $( "button.bookmark" ).addClass("text-danger");
                    }
                    else{
                        currentBookmark = 0;
                        currentBookmarkID = data.itemList[i][5];
                        $( "button.bookmark" ).removeClass("text-danger");
                        $( "button.bookmark" ).addClass("text-dark");
                    }
                }
			}
		}
		else{
			alert(data.message);
		}
	    });
    }

    $(".addToCart").click(function(){
       var qty = $('.quantity').val();
       console.log(qty);
        $.ajax({
        data : {'prodId':productID, 'prodQty': qty},
        type : 'POST',
        url : '/addToCart'
	    })
  	    .done(function(data){
		if(data.status){
            alert(data.message);
		}
		else{
            alert("Not Logged in!");
			location.replace("http://localhost:5000/login");
		}
	});
    });
	  </script>	

{% endblock %}
